@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  to {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.vectorIcon {
  position: relative;
  width: 1528px;
  height: 1511px;
}

.vectorWrapper {
  position: absolute;
  top: -267px;
  left: -710.13px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}

.blackUpRec1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-black);
  height: 115px;
}

.blackUpRec {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.blackUp,
.blackUpRec {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grayUpRec {
  align-self: stretch;
  position: relative;
  background-color: var(--color-dimgray-100);
  height: 7px;
}

.grayUp {
  position: absolute;
  height: 20%;
  width: 100%;
  top: 42.96%;
  right: 0;
  bottom: 37.04%;
  left: 0;
}

.firstWebsiteFor {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.6em;
  text-indent: 100px;
}

.firstUp,
.upGp {
  position: absolute;
  height: 32.59%;
  width: 78.22%;
  top: 26.67%;
  right: 15.41%;
  bottom: 40.74%;
  left: 6.37%;
}

.upGp {
  height: 18.12%;
  width: 101.39%;
  top: -1.34%;
  right: -0.69%;
  bottom: 83.22%;
  left: -0.69%;
  color: var(--neutral-10);
}

.email {
  position: relative;
  letter-spacing: 0.2em;
}

.email1 {
  position: relative;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.rectangleInSignPage {
  border: 0;
  background-color: var(--color-gainsboro);
  align-self: stretch;
  position: relative;
  border-radius: var(--br-mini);
  height: 61px;
  padding-left: 20px;
}

.password {
  position: relative;
  letter-spacing: 0.2em;
  text-align: left;
}

.dontHaveAn,
.frameInLoginPage {
  display: flex;
  align-items: center;
}

.frameInLoginPage {
  position: absolute;
  height: 30.2%;
  width: 54.03%;
  top: 43.49%;
  right: 22.99%;
  bottom: 26.31%;
  left: 22.99%;
  border-radius: var(--br-mini);
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: right;
}

.dontHaveAn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 8.32%;
  width: 34.1%;
  top: 89.25%;
  left: 34.92%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.1em;
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
}

.dontHaveAn,
.login,
.logo {
  position: absolute;
}

.logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 242.5px);
  left: calc(50% - 704px);
  width: 251px;
  height: 89px;
  background-image: url(/public/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.login {
  height: 100%;
  width: 545px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}

.login:hover {
  animation: 1s ease 0s 1 normal none jello-horizontal;
  opacity: 1;
}

.loginInHead {
  position: absolute;
  height: 8.59%;
  width: 12.78%;
  top: 25.1%;
  right: 43.61%;
  bottom: 66.31%;
  left: 32%;
  text-align: left;
  font-size: var(--font-size-26xl);
}

.logIn {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2em;
  font-family: var(--s-regular);
  color: var(--neutral-10);
  text-align: left;
}

.loginButton,
.loginButton1 {
  cursor: pointer;
  border: 0;
  position: absolute;
}

.loginButton1 {
  padding: var(--padding-3xs);
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.loginButton1:hover {
  animation: 1s ease 0s 1 normal none wobble-hor-bottom;
  opacity: 1;
}

.loginButton {
  padding: 0;
  background-color: transparent;
  height: 5.91%;
  width: 7.71%;
  top: 77.85%;
  right: 46.18%;
  bottom: 16.24%;
  left: 46.11%;
}

.signup {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--neutral-10);
  text-align: left;
}

.signUpButton,
.signupButton {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
}

.signupButton {
  padding: var(--padding-8xs);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signupButton:hover {
  animation: 1s ease 0s 1 normal none jello-horizontal;
  opacity: 1;
}

.signUpButton {
  padding: 0;
  height: 4.56%;
  width: 5.97%;
  top: 9.66%;
  right: 1.25%;
  bottom: 85.77%;
  left: 92.78%;
}

.logInPageNew {
  position: relative;
  background-color: var(--neutral-10);
  width: 100%;
  height: 745px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--s-regular);
}

.logInButton {
  border: 0;
  position: absolute;
  padding: var(--padding-3xs);
  background-color: black;
  color: white;
  height: 20%;
  width: 11%;
  top: 110%;
  right: 0;
  bottom: 0;
  left: 45%;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.logInButton:hover {
  animation: 1s ease 0s 1 normal none jello-horizontal;
  opacity: 1;
}

.forget {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  letter-spacing: 0.1em;
  left: 39.92%;
  top: 86.25%;
}
