@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.vectorIcon {
  position: relative;
  width: 2521.18px;
  height: 2903.56px;
  mix-blend-mode: multiply;
}
.vectorWrapper {
  position: absolute;
  top: -232.24px;
  left: -80.8px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 794px);
  left: calc(50% - 709px);
  width: 251px;
  height: 89px;
  background-image: url(/public/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.grayUp,
.greyUpRec {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.grayUp {
  height: 1.46%;
  width: 101.39%;
  top: 2.54%;
  right: -0.69%;
  bottom: 96%;
  left: -0.69%;
}
.blackUpRec1 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-black);
  height: 115px;
}
.blackUpRec {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.grayUpRec {
  position: absolute;
  top: 68px;
  left: 10px;
  background-color: var(--color-dimgray-100);
  width: 1440px;
  height: 7px;
}
.firstWebsiteFor {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.6em;
  text-indent: 100px;
}
.firstUp,
.upGp {
  position: absolute;
  height: 32.59%;
  width: 78.22%;
  top: 26.67%;
  right: 15.75%;
  bottom: 40.74%;
  left: 6.03%;
}
.upGp {
  height: 7.31%;
  width: 101.39%;
  top: -0.6%;
  right: -0.69%;
  bottom: 93.29%;
  left: -0.69%;
  text-align: center;
}
.barChild,
.barItem {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.barChild {
  width: 100%;
  right: 0;
  border-radius: var(--br-mini);
  background-color: var(--neutral-10);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.barItem {
  width: 9.82%;
  right: 90.18%;
  border-radius: var(--br-mini) 0 0 var(--br-mini);
  background-color: var(--color-black);
  mix-blend-mode: multiply;
}
.search,
.vectorIcon1 {
  position: absolute;
  top: 22.22%;
  left: 14.73%;
}
.vectorIcon1 {
  height: 40%;
  width: 3.27%;
  top: 28.89%;
  right: 93.45%;
  bottom: 31.11%;
  left: 3.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bar {
  align-self: stretch;
  position: relative;
  height: 45px;
}
.searchBar1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchBar {
  position: absolute;
  height: 2.44%;
  width: 38.19%;
  top: 9.42%;
  right: 31.25%;
  bottom: 88.15%;
  left: 30.56%;
  color: var(--color-gray-300);
}
.login {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--neutral-10);
  text-align: left;
}
.loginButton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs);
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.loginButton1:hover {
  animation: 1s linear 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.loginButton {
  padding: 0;
  height: 1.84%;
  width: 5%;
  top: 3.9%;
  right: 8.89%;
  bottom: 94.26%;
  left: 86.11%;
}
.loginButton,
.signUpButton,
.signupButton {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: absolute;
}
.signupButton {
  padding: var(--padding-8xs);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.signupButton:hover {
  animation: 1s ease 0s 1 normal none jello-horizontal;
  opacity: 1;
}
.signUpButton {
  padding: 0;
  height: 1.84%;
  width: 5.97%;
  top: 3.9%;
  right: 1.6%;
  bottom: 94.26%;
  left: 92.43%;
}
.vectorIcon2,
.vectorIcon3 {
  position: relative;
  width: 25px;
  height: 21.88px;
}
.vectorIcon3 {
  width: 10px;
  height: 14.55px;
}
.soundSystems {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 179px;
  flex-shrink: 0;
}
.homeToLaptopVector {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.16%;
  width: 16.18%;
  top: 18.89%;
  right: 69.44%;
  bottom: 78.95%;
  left: 14.38%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.camerasTextUp:hover,
.gamingtextUp:hover,
.homeToLaptopVector:hover,
.laptopTextUp:hover,
.projectTextUp:hover,
.soundTextUp:hover {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.vectorIcon4 {
  position: relative;
  width: 80px;
  height: 60.03px;
}
.shoppingCart {
  position: absolute;
  height: 3.25%;
  width: 5.56%;
  top: 8.98%;
  right: 4.79%;
  bottom: 87.77%;
  left: 89.65%;
}
.soundPageNewChild {
  position: absolute;
  height: 0.05%;
  width: 75.49%;
  top: 92.05%;
  right: 10.17%;
  bottom: 7.9%;
  left: 14.34%;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.loadMore {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2em;
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
}
.loadMoreButton,
.loadMoreWrapper {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
}
.loadMoreWrapper {
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-3xs);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadMoreButton {
  border: 0;
  padding: 0;
  height: 2.38%;
  width: 11.74%;
  top: 93.67%;
  right: 44.17%;
  bottom: 3.95%;
  left: 44.1%;
}
.speakerImageIcon {
  position: relative;
  width: 180px;
  height: 125.19px;
  object-fit: cover;
  z-index: 3;
}
.mediaTech {
  margin: 0;
}
.mediaTechSubwooferContainer {
  position: relative;
  z-index: 2;
}
.lineInSpeakerFrame {
  position: relative;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 196.02px;
  height: 1px;
  z-index: 1;
}
.egpweek {
  position: relative;
  font-size: var(--font-size-mini);
  z-index: 0;
}
.speakerReview,
.speakerReview1,
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview2,
.speakerReview3,
.speakerReview4,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  position: absolute;
  height: 23.54%;
  width: 22.75%;
  top: 0;
  right: 0.35%;
  bottom: 76.46%;
  left: 76.91%;
  border-radius: var(--br-6xl);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.speakerReview1,
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview2,
.speakerReview3,
.speakerReview4,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 25.98%;
  left: 51.27%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview2,
.speakerReview3,
.speakerReview4,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 51.62%;
  left: 25.64%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview3,
.speakerReview4,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 77.25%;
  left: 0;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview4,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  top: 25.57%;
  right: 0.23%;
  bottom: 50.89%;
  left: 77.02%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview5,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 25.87%;
  left: 51.39%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview6,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 51.5%;
  left: 25.75%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview7,
.speakerReview8,
.speakerReview9 {
  right: 77.14%;
  left: 0.12%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview8,
.speakerReview9 {
  top: 50.97%;
  right: 0.12%;
  bottom: 25.49%;
  left: 77.14%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15,
.speakerReview9 {
  right: 25.75%;
  left: 51.5%;
}
.speakerReview10,
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15 {
  right: 51.39%;
  left: 25.87%;
}
.speakerReview11,
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15 {
  right: 77.02%;
  left: 0.23%;
}
.speakerReview12,
.speakerReview13,
.speakerReview14,
.speakerReview15 {
  top: 76.46%;
  right: 0;
  bottom: 0;
  left: 77.25%;
}
.speakerReview13,
.speakerReview14,
.speakerReview15 {
  right: 25.64%;
  left: 51.62%;
}
.speakerReview14,
.speakerReview15 {
  right: 51.27%;
  left: 25.98%;
}
.speakerReview15 {
  right: 76.91%;
  left: 0.35%;
}
.filter,
.soundGp {
  position: absolute;
  top: 23.21%;
}
.soundGp {
  height: 66.88%;
  width: 60.14%;
  right: 9.79%;
  bottom: 9.9%;
  left: 30.07%;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.filter {
  height: 67.05%;
  width: 13.54%;
  right: 72.85%;
  bottom: 9.74%;
  left: 13.61%;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.laptops {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 102px;
  flex-shrink: 0;
}
.vectorIcon5 {
  position: relative;
  width: 12px;
  height: 7.4px;
}
.camerasTextUp,
.laptopTextUp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.camerasTextUp {
  width: 115px;
}
.gamingConsoles {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 202px;
  flex-shrink: 0;
}
.gamingtextUp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 215px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.soundSystems1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 173px;
  flex-shrink: 0;
}
.soundTextUp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 188px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projectors {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--s-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 135px;
  flex-shrink: 0;
}
.navigationBar,
.projectTextUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projectTextUp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 149px;
}
.navigationBar {
  position: absolute;
  height: 3.35%;
  width: 72.71%;
  top: 13.53%;
  right: 13.61%;
  bottom: 83.12%;
  left: 13.68%;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-700);
  gap: var(--gap-11xl);
}
.soundPageNew {
  position: relative;
  background-color: var(--neutral-10);
  width: 100%;
  height: 1848px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-10);
  font-family: var(--s-regular);
}
.card {
  width: 18rem;
  height: 100px;
  flex-direction: row;
}
.laptopsGroups {
  display: flex;
  position: absolute;
  height: 4.83%;
  width: 75.35%;
  top: 23.43%;
  right: 12.29%;
  bottom: 77.74%;
  left: 29.36%;
  color: black;
}
